@charset "UTF-8";

.loading {
	position: absolute;
	width: 100%;
	min-width: 1366px;
	height: 100vh;
	min-height: 600px;
	top: 0;
	left: 0;
	background: #000;
	z-index: 999;
}
	/* LOADING 02 */
	.ld02 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: 110;
	}
		.makuLeft {
			position: absolute;
			width: 979px;
			height: 1080px;
			top: 0;
			left: 0;
		}
		.makuRight {
			position: absolute;
			width: 977px;
			height: 1080px;
			top: 0;
			right: 0;
		}
	/* LOADING 03 */
	.ld03 {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url(../img/loading/loding_bg.png) no-repeat center top;
		overflow: hidden;
		z-index: 100;
	}
		.ld_logo {
			position: absolute;
			width: 58.3%;
			height: 44.4%;
			top: 0; right: 0; bottom: 0; left: 0;
			margin: auto;
			z-index: 10;
		}
			.ld_logo img { width: 100%; }
		/* GEAR */
		.baseGear {
			position: absolute;
			width: 1920px;
			height: 1080px;
			top: 50%;
			left: 50%;
			margin: -540px 0 0 -960px;
			z-index: 1;
		}
			.gear01 {
				position: absolute;
				width: 457px;
				height: 457px;
				top: 442px;
				left: 367px;
			}
			.gear02 {
				position: absolute;
				width: 524px;
				height: 524px;
				top: 429px;
				left: 1208px;
			}
			.gear03 {
				position: absolute;
				width: 419px;
				height: 419px;
				top: 25px;
				left: 1362px;
			}
			.gear04 {
				position: absolute;
				width: 597px;
				height: 597px;
				top: -172px;
				left: 319px;
			}
			.gear05 {
				position: absolute;
				width: 468px;
				height: 468px;
				top: 897px;
				left: 650px;
			}
			.gear06 {
				position: absolute;
				width: 436px;
				height: 436px;
				top: 756px;
				left: 1076px;
			}
			.gear07 {
				position: absolute;
				width: 282px;
				height: 282px;
				top: 687px;
				left: 32px;
			}
			.gear08 {
				position: absolute;
				width: 328px;
				height: 328px;
				top: 589px;
				left: 815px;
			}
			.gear09 {
				position: absolute;
				width: 508px;
				height: 508px;
				top: -237px;
				left: 907px;
			}
			.gear10 {
				position: absolute;
				width: 255px;
				height: 255px;
				top: 230px;
				left: 850px;
			}
			.gear11 {
				position: absolute;
				width: 255px;
				height: 255px;
				top: 263px;
				left: 1100px;
			}

/* ANIMATION -------------------------------------*/
/* INIT */
.makuLeft { left: 0; }
.makuRight { right: 0; }
.gear01 img,
.gear02 img,
.gear03 img,
.gear04 img,
.gear05 img,
.gear06 img,
.gear07 img,
.gear08 img,
.gear09 img,
.gear10 img,
.gear11 img { transform: rotate( 0deg ); }
/* ANIMATION */
.on .makuLeft { animation: makuL 0.6s ease-in 0s 1 forwards; }
.on .makuRight { animation: makuR 0.6s ease-in 0s 1 forwards; }

.gear01 img { animation: rotateLeft 10s linear 0s infinite; }
.gear02 img { animation: rotateRight 20s linear 0s infinite; }
.gear03 img { animation: rotateLeft 10s linear 0s infinite; }
.gear04 img { animation: rotateLeft 8s linear 0s infinite; }
.gear05 img { animation: rotateRight 10s linear 0s infinite; }
.gear06 img { animation: rotateLeft 10s linear 0s infinite; }
.gear07 img { animation: rotateLeft 50s linear 0s infinite; }
.gear08 img { animation: rotateRight 10s linear 0s infinite; }
.gear09 img { animation: rotateRight 12s linear 0s infinite; }
.gear10 img { animation: rotateLeft 9s linear 0s infinite; }
.gear11 img { animation: rotateLeft 12s linear 0s infinite; }
/* KEYFRAMES */
@keyframes makuL {
	0% { left: 0; }
	100% { left: -979px; }
}
@keyframes makuR {
	0% { right: 0; }
	100% { right: -977px; }
}

@keyframes rotateLeft {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}
@keyframes rotateRight {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
